<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DHM.Properties.Settings.DHMConnectionString" connectionString="Data Source=ZAINASOFT\SQLEXPRESS;Initial Catalog=DHM;User ID=SA;Password=creative007"
            providerName="System.Data.SqlClient" />
        <add name="DHM.Properties.Settings.lifesaver" connectionString="Data Source=SAJJAD\SQLEXPRESS;Initial Catalog=DHM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>